# 假设

全眼的像差，是最终对视网膜产生影响的原因。那么使用佩戴OK镜之前、或者佩戴短期后的像差数据，是否可能预测出远期的眼轴长或者是屈光状态呢？

## 已知的缺陷

全眼像差受到多方面的影响：

* 瞳孔大小；
* 调节状态；
* 测量时间，OK镜佩戴后，白天的角膜形态是否会逐渐变化，导致像差随着时间改变。

# 数据

来自于 One-year effect of wearing orthokeratology lenses on the visual quality of juvenile myopia: a retrospective study 
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6545229/

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

%matplotlib inline

In [5]:
data_file=os.path.join('data',"peerj-07-6998-s001.xlsx")

In [7]:
df=pd.read_excel(data_file)

In [9]:
df.head(10)

,No.,Medical record No.,Age,Sex,iTrace number,Right Eye,Spherical Diopter,Cylinder Diopter,Vision acuity,SR（total）4mm,...,Unnamed: 49,coma（total）,Unnamed: 51,Unnamed: 52,trefoil（total）,Unnamed: 54,Unnamed: 55,spherical,Unnamed: 57,Unnamed: 58
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,internal optic,...,ocular,internal optic,cornea,ocular,internal optic,cornea,ocular,internal optic,cornea,ocular
1,1.0,172.0,13.0,M,176.0,before OK,-4.00,-1.50,0.2,0.0002,...,0.14,0.077,0.089,0.024,0.04,0.049,0.018,-0.029,0.045,0.016
2,NaN,NaN,NaN,NaN,NaN,1 month,NaN,NaN,NaN,0.05254,...,0.165,0.543,1.101,0.581,0.379,0.061,0.328,0.038,0.056,0.094
3,NaN,NaN,NaN,NaN,NaN,3 months,NaN,NaN,NaN,0.07166,...,0.284,0.155,0.529,0.384,0.045,0.1,0.115,-0.057,0.177,0.12
4,NaN,NaN,NaN,NaN,NaN,12 months,-0.25,-0.50,1.5,0.116,...,0.309,0.26,0.503,0.26,0.073,0.031,0.067,-0.04,0.182,0.142
5,2.0,176.0,10.0,F,202.0,before OK,-1.00,0.00,0.4,0.00318,...,0.074,0.109,0.1,0.208,0.064,0.026,0.071,0.003,0.038,0.041
6,NaN,NaN,NaN,NaN,NaN,1 month,NaN,NaN,NaN,0.00971,...,0.286,0.195,0.345,0.478,0.223,0.127,0.096,0.028,0.196,0.224
7,NaN,NaN,NaN,NaN,NaN,3 months,NaN,NaN,NaN,0.02887,...,0.271,0.42,0.571,0.162,0.319,0.272,0.074,-0.026,0.167,0.141
8,NaN,NaN,NaN,NaN,NaN,12 months,0.00,-0.25,1.0,0.00094,...,0.1,0.535,0.223,0.436,0.221,0.072,0.171,0.025,0,0.024
9,3.0,177.0,13.0,F,206.0,before OK,-1.00,-0.75,0.1,0.00189,...,0.157,0.12,0.015,0.11,0.035,0.015,0.05,-0.026,0.053,0.027

数据清洗：